@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
 @mark root 
*/
:root {
 /* --sz-nn: nnpx; */
 --sz-12: 12px;
 --sz-14: 14px;
 --sz-16: 16px;
 --sz-18: 18px;
 --sz-20: 20px;
 --sz-24: 24px;
 --sz-26: 26px;
 --sz-28: 28px;
 --sz-30: 30px;
 --sz-32: 32px;
 --sz-50: 50px;
 --sz-80: 80px;
 /* --sz-nn: nnpx; */

 --t-black: #000;
 --t-dark: #18121e;
 --t-white: #fff;

 --b-black: #000;
 --b-white: #fff;
 --b-darkgray: #1a3e3e;
}

/* 
 @mark fonts 
 */

/* @font-face {
 font-family: '';
 font-style: normal;
 font-weight: 00;
 font-display: swap;
 src: url('../../fonts') format('woff2');
} */

/* 
 @mark scroll 
*/
::-webkit-scrollbar-button {
 width: 6px;
 height: 0px;
}
::-webkit-scrollbar-track {
 background-color: var(--b-white);
 box-shadow: 0px 0px 3px var(--b-white) inset;
}
::-webkit-scrollbar-thumb {
 border-radius: 2px;
 background-color: var(--b-black);
 background-position: center;
 background-repeat: no-repeat;
}
::-webkit-resizer {
 width: 7px;
 height: 0px;
}
::-webkit-scrollbar {
 width: 7px;
}

/* 
 @mark custom-reset 
*/
input,
select,
button {
 outline: none;
}

/* 
 @mark tailwind 
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
 .i-wrap {
  @apply relative flex;
 }
 .i-full {
  @apply absolute top-0 left-0 w-full h-full object-cover object-center;
 }
}
