/* 
 @mark imports 
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
 @mark root 
*/
:root {
 --sz-12: 12px;
 --sz-14: 14px;
 --sz-16: 16px;
 --sz-18: 18px;
 --sz-20: 20px;
 --sz-24: 24px;
 --sz-26: 26px;
 --sz-28: 28px;
 --sz-30: 30px;
 --sz-32: 32px;
 --sz-50: 50px;
 --sz-80: 80px;

 --t-black: #000;
 --t-dark: #18121e;
 --t-white: #fff;
 --t-orange: #f2be22;

 --b-black: #000;
 --b-white: #fff;
 --b-darkgray: #1a3e3e;
}

/* 
 @mark fonts 
 */
/* @font-face {
 font-family: '';
 font-style: normal;
 font-weight: 00;
 font-display: swap;
 src: url('../../fonts') format('woff2');
} */

/* 
 @mark tailwind 
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 ::-webkit-scrollbar-button {
  @apply w-[6px] h-0;
 }
 ::-webkit-scrollbar-track {
  @apply bg-[var(--b-white)] shadow-[0px_0px_3px_var(--b-white)_inset];
 }
 ::-webkit-scrollbar-thumb {
  @apply rounded-[2px] bg-[var(--b-black)];
 }
 ::-webkit-resizer {
  @apply w-[7px] h-0;
 }
 ::-webkit-scrollbar {
  @apply w-[7px];
 }
 body {
  @apply font-roboto font-700 text-14 leading-n text-[var(--t-dark)] bg-[var(--b-white)];
 }
 input,
 select,
 button {
  @apply outline-none;
 }
}
@layer components {
 .i-wrap {
  @apply relative flex;
 }
 .i-full {
  @apply absolute top-0 left-0 w-full h-full object-cover object-center;
 }
 .overtitle {
  @apply text-24 font-400 leading-[0.83] text-[var(--t-orange)];
 }
 .title {
  @apply text-32 font-800 leading-[1.2];
 }
 .text {
  @apply text-18 font-400 leading-[1.5];
 }
}
